.blog {
  @include size-m-w(100%, auto);
  padding: 0 10px;
  //@include size-m-w(320px, 500px);

  h1 {
    //display: flex;
    @include size-m-w(100%, auto);
    @include font-setting(
      "Red Hat Display",
      normal,
      400,
      48px,
      64px,
      0.05em,
      $black
    );

    text-align: center;
    //justify-content: center;
    //align-items: flex-start;
    margin-bottom: 50px;

    @media screen and (min-width: 768px) {
      //align-items: flex-start;
    }
  }
}

.ux-holder {
  //width: 100%;
  @media screen and (min-width: 768px) {
    @include size-m-w(50%, auto);

    /*  display: flex;
      flex-wrap: wrap; */
    //border: 2px solid red;
  }
}

.ux1 {
  .container {
    flex-direction: row-reverse;
    gap: 20px;
  }
}

.ux1,
.ux2 {
  .container {
    @include size-m-w(100%, auto);
    @extend %flex;
    //gap: 20px;
    //display: flex;
    //flex-wrap: wrap;
  }

  .span-holder {
    margin-bottom: 30px;

    span {
      @include font-setting("Lato", normal, 400, 16px, 166%, 0.1em, $gray);
    }
  }

  .strong-holder {
    @include size-m-w(100%, auto);
    margin-bottom: 10px;

    strong {
      @include font-setting(
        "Red Hat Display",
        normal,
        500,
        22px,
        166%,
        0.1em,
        $black
      );
    }
  }

  .date-holder {
    @include size-m-w(100%, auto);
    margin-bottom: 40px;

    span {
      @include font-setting("Lato", normal, 400, 16px, 166%, 0.1em, $gray);
    }
  }

  .text-holder {
    @include size-m-w(100%, auto);
    margin-bottom: 37px;

    p {
      @include font-setting(
        "Lato",
        normal,
        400,
        16px,
        166%,
        0.05em,
        $dark-gray
      );
    }
  }

  .img-holder {
    @include size-m-w(100%, auto);
    margin-bottom: 50px;

    img {
      width: 100%;
    }
  }

  a {
    .icon-arrow-right2:before {
      content: "\ea3c";
    }
  }
}
